

{% extends "base2.html" %} 





{% block body %}

<div class="container">

    <br>

    <h1 class="my-0 fw-normal">ABOUT US!</h1>

    <br>

            
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <br>
        <div class="mycenteredcontainer">
        <div class="container marketing">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Meet The Team! <span class="text-body-secondary"> </span></h2>
              <p class="lead">We are group of 6 students with different backgrounds from different countries across Europe. 
                The newtify project is part of our course Digital Project Development.</p>
            </div>
            <div class="col-md-5">
              <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">What is Newtify?    -   <span class="text-body-secondary">come and See for yourself.</span></h2>
              <p class="lead">Newtify is a new music community....</p>
              <p><a href="/signupPage">join us today</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="static/img/Misc/triplelogo.png" alt="triple_logo_pic" style= "width: 100%; height: 350px; object-fit: contain;">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
              <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
              <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
            </div>
          </div>
      
        
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
        </div>
      

</div>

{% endblock %}


