{% extends "base2.html" %} 





{% block body %}

<div class="container">
  <br>

  <h1 class="my-0 fw-normal">Welcome to Newtify</h1>

  <br>
  <br>
  <div class="mycenteredcontainer">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="static/img/Misc/missionPIC.jpg" alt="band_pic" style= "width: 100%; height: 150px; object-fit: contain;">
          <h2 class="fw-normal">Our Mission</h2>
          <p>Learn about our misson to help the Music community and new creative artists</p>
          <p><a class="btn btn-primary" href="\Mission">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="static/img/Mother_of_all.jpg" alt="band_pic" style= "width: 100%; height: 150px; object-fit: contain;">
          <h2 class="fw-normal">Discover new Artists</h2>
          <p>discover new and unknown talents among the many upcoming artists</p>
          <p><a class="btn btn-primary" href="\DEMO">see DEMO &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="static/img/Misc/EmptyStage.jpg" alt="band_pic" style= "width: 100%; height: 150px; object-fit: contain;">
          <h2 class="fw-normal">Are you an Artist?</h2>
          <p>As an Artist we offer you an income genrating platform where you can safely distribute your music</p>
          <p><a class="btn btn-primary" href="\signupPage">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>




<br>
<br>






{% endblock %}









