

{% extends "base2.html" %} 





{% block body %}

<div class="container">


    <h1 class="my-0 fw-normal">Sign up here!</h1>

    <br>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <form class="row g-3">
            <div class="col-12">
              <label for="inputAddress" class="form-label">User / Artist - Name</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="username or artistname" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" required>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4" required>
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Choose Subscription</label>
              <select id="inputState" class="form-select" required>
                <option value="" selected disabled="disabled">Choose...</option>
                <option>Artist Subscription</option>
                <option>User Subscription</option>
              </select>
            </div>
            <div class="mycenteredcontainer">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">User Subsscription</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">DKK 10<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Discover +100 new artists</li>
                    <li>Become a super Fan!</li>
                    <li>Support your favorite artist directly</li>
                    <li>Create your own playlists</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Artist Subscription</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">DKK 15<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Upload your Songs</li>
                    <li>Create your own community and connect with your fans</li>
                    <li>Earn money from user donations</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <br>
  
    

</div>

<br>
<br>






{% endblock %}


